<style></style>

<div>
  <h2>Top sellers</h2>

  {%- for product in section.settings.product_list -%}
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    {{ product | image_url: width: 380 | image_tag }}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Health top sellers",
  "class": "top-sellers",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Top sellers"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam."
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product list"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Top sellers margin top",
      "max": 100,
      "min": 0,
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Top sellers margin bottom",
      "max": 100,
      "min": 0,
      "default": 20
    }
  ]
}
{% endschema %}
