<style>
  .ultimate {
    & .swiper-ultimate-products {
      overflow: hidden;
    }

    & .swiper-slide {
      display: flex;

      & .product-info {
        width: 50%;
      }

      & .swiper-ultimate-variants {
        width: 50%;
      }
    }
  }
</style>

{% javascript %}
  new Swiper('.swiper-ultimate-products', {
    direction: 'vertical',
    scrollbar: {
      el: '.swiper-ultimate-scrollbar',
    },
  });

  new Swiper('.swiper-ultimate-variants', {
    direction: 'horizontal',
  });

  console.log('asd');
{% endjavascript %}

<h1>test</h1>
<div class="swiper-ultimate-products">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        <div class="product-info">
          <h2>{{ block.settings.product.title }}</h2>
          <p>{{ block.settings.product.description }}</p>
        </div>
        <div class="swiper-ultimate-variants">
          <div class="swiper-wrapper">
            {% for variant in block.settings.product.variants %}
              <div class="swiper-slide">
                <img
                  src="{{ variant.image | image_url }}"
                  alt="product image"
                  width="100px"
                  height="200px"
                >
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

{% schema %}
{
  "name": "Health ultimate product",
  "tag": "section",
  "class": "ultimate",
  "settings": [
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        { "value": "row", "label": "Left" },
        { "value": "row-reverse", "label": "Right" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_slider_controls",
      "label": "Show slider controls"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "max": 100,
      "min": 0,
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Product slide",
      "type": "product-slide",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product title"
        },
        {
          "type": "text",
          "id": "product_description",
          "label": "Product description"
        },
        {
          "type": "richtext",
          "id": "key_features",
          "label": "Key features"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Health Ultimate products",
      "category": "custom"
    }
  ]
}
{% endschema %}
