*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --color-white: #ffffff;
  --color-black: #231f20;
  --color-accent-blue: #42abde;
  --color-accent-blue-hover: #2194cc;
  --color-grey-text: #808080;
  --color-border: #dddddd;
  --color-card: #f8f8f8;
}

.button-primary {
  height: 50px;
  border: none;
  border-radius: 100px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-accent-blue);
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-blue-hover);
  }
}

body {
  max-width: 1920px;
  margin: 0 auto;
}