.hero {
  background-size: auto 25%;

  @media (min-width: 768px) {
    background-size: auto 50%;
  }
  @media (min-width: 1366px) {
    background-size: 100% 70%;
  }

  & .swiper-hero {
    overflow: hidden;

    & .swiper-slide {
      & img {
        height: 500px;
        margin: 0 auto;
        object-fit: scale-down;

        @media (min-width: 428px) {
          transform: scale(1);
        }
        @media (min-width: 768px) {
          height: 700px;
        }
        @media (min-width: 1366px) {
          height: 860px;
        }
      }

      & .slide-content {
        margin-top: 40px;
        padding: 0 22px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 768px) {
          padding: 0 62px;
        }

        @media (min-width: 1366px) {
          position: absolute;
          bottom: 25%;
          width: 100%;
          padding: 0 255px;
        }
      }

      & .buy-now-controls-wrapper {
        display: flex;

        @media (min-width: 1366px) {
          justify-content: space-between;
        }
      }

      & .arrows-nav {
        position: static;
        display: inline-flex;
        flex-direction: row-reverse;
        gap: 20px;
        align-self: flex-end;

        & .swiper-button-prev,
        & .swiper-button-next {
          position: relative;
          right: 0;
          width: 20px;
          height: 20px;
          padding: 30px;
          border-radius: 50%;
          outline: 1px solid var(--color-border);
          outline-offset: -5px;
          &:after {
            content: '';
          }
        }
        & .swiper-button-prev {
          background: url('health-arrow-left.svg') no-repeat center;
        }
        & .swiper-button-next {
          background: url('health-arrow-right.svg') no-repeat center;
        }
      }
    }

    & p {
      color: var(--color-grey-text);
    }

    & .buy-now {
      width: 100%;

      @media (min-width: 1366px) {
        max-width: 320px;
      }

      @media (min-width: 1920px) {
        max-width: 180px;
      }
    }
  }

  & .autoplay-progress {
    --progress: 0;
    position: absolute;
    inset: 0;
    z-index: 10;
    stroke-width: 2px;
    stroke: var(--color-accent-blue);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
}
