.faq {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 22px;

  & .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  }

  & .description {
    color: var(--color-grey-text);
    margin-bottom: 10px;
    text-align: center;

    @media (min-width: 1366px) {
      margin-bottom: 40px;
    }
  }

  & .line {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: var(--color-border);
  }

  & .block-item {
    & .summary-wrapper {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

    & .dot {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      @media (min-width: 1366px) {
        margin-right: 15%;
      }
    }

    & .numbers {
      display: none;
      color: var(--color-grey-text);

      @media (min-width: 1366px) {
        margin-right: 15%;
        display: block;
      }
    }

    & .summary {
      font-weight: 500;
    }

    & .open-close {
      min-width: 24px;
      min-height: 24px;
      margin-left: auto;
      border: none;
      background-color: white;
      cursor: pointer;

      & .plus,
      .minus {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    & .details {
      display: none;
      color: var(--color-grey-text);

      &.active {
        display: block;
      }
    }
  }
}
